.Navigation{
    display: flex;
    width:100%;
    justify-content: space-between;
    height:70px;
    align-items: center;
    margin-bottom: 20px;
    background-color: aliceblue;
}
.left{
    display: flex;
    width:50%;
    justify-content: space-between;
    align-items: center;
}
.Navigation-right{
    display: flex;
    width:50%;
    justify-content: flex-end;
    align-items: center;
    
}
.shop{
    padding: 0 20px;
}
.logo{
    padding: 0 10px;
}
.shop:hover{
    cursor: pointer;
}
.cart{
    height: 29px;
}
.par{
    padding: 0 20px;
    position: relative;
}
.child{
    position: absolute;
    top:34%;
    left:44%;
    font-size: 14px;
    font-weight: bold;
    font-size: 10px;
}
.search{
    width:50%;
    height:29px;
}
.app-name{
    font-size:30px;
    font-family: 'Euphoria Script', cursive;
    color: black;
    font-weight: bold;
      
}
.left-title{
    display: flex;
    align-items: center;
}
.search::placeholder{
    padding-left: 24px;
    font-family:'Euphoria Script', "Open Sans";
    font-weight: 600;
    background-image: url("images/icon3.svg");
    background-repeat: no-repeat;
    font-size: 18px;
}
